fastapi
gunicorn
uvicorn[standard]
motor
pymongo
python-jose[cryptography]
passlib
requests
python-dotenv
bcrypt
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langgraph
ollama
duckduckgo-search
tavily-python
pypdf
sentence-transformers
faiss-cpu
pymupdf
httpx
python-multipart
