fastapi
gunicorn
uvicorn
gunicorn
motor
pymongo
python-jose
passlib
requests
python-dotenv
bcrypt
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langgraph
tavily-python
pypdf
sentence-transformers
faiss-cpu
pymupdf
httpx
python-multipart
